[mysqld]
character-set-server=utf8mb4
explicit-defaults-for-timestamp=1
#general-log=1
#general-log-file=/var/log/mysql/mysqld.log
slow_query_log=1
slow_query_log-file=/var/log/mysql/slow.log
long_query_time=0.3
default-time-zone='Asia/Tokyo'

[client]
default-character-set=utf8mb4