
@import "variables";

$fa-font-path: "../../../node_modules/@fortawesome/fontawesome-free/webfonts";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/regular";


@import "../../../node_modules/bootstrap/scss/bootstrap";

@import "../../../node_modules/admin-lte/build/scss/AdminLTE";

@import "../../../node_modules/select2/src/scss/core";
@import "../../../node_modules/@ttskch/select2-bootstrap4-theme/src/layout";

@import "../../../node_modules/tempusdominus-bootstrap-4/src/sass/tempusdominus-bootstrap-4-build";

@import "../../../node_modules/bootstrap-fileinput/css/fileinput.min.css";
@import "../../../node_modules/bootstrap-fileinput/themes/explorer-fas/theme.min.css";

@import "../../../node_modules/summernote/dist/summernote-bs4.css";

@import "../../../node_modules/bootstrap4-tagsinput-douglasanpa/tagsinput.css";

@import "admin_layout";
