body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

.button-functions button {
  margin: 0;
}

/* override adminlte */

.layout-navbar-fixed.sidebar-collapse .brand-link {
  width: 4rem;
}

.content-header h1 {
  font-size: $h1-font-size;
}

@media (min-width: 992px) {
  .sidebar-mini.sidebar-collapse {
    .content-wrapper, .main-footer, .main-header {
      margin-left: 4rem !important;
    }

    .main-sidebar {
      width: 4rem;

      &:before {
        width: 4rem;
      }
    }
  }

  .sidebar-mini-md.sidebar-collapse .main-sidebar {
    width: 4rem;

    &:before {
      width: 4rem;
    }
  }
}

@media (min-width: 768px) {
  .sidebar-mini-md.sidebar-collapse {
    .content-wrapper, .main-footer, .main-header {
      margin-left: 4.6rem !important;
    }
  }
}

/* ブランドテキストのトグル表示 */

body {
  &:not(.sidebar-open) .brand-text-disp-collapse, &:not(.sidebar-collapse) .brand-text-disp-collapse, &.sidebar-open .brand-text-disp-collapse {
    display: none;
  }

  &.sidebar-collapse .brand-text-disp-collapse {
    display: inline;
    padding-left: 10px;
  }
}

/* adminlteのサイドバー下部の横スクロールバーを削除 */

.layout-fixed .main-sidebar {
  overflow: hidden;
}

/** サイドメニューのアイコン要素のサイズ */

ul.nav-sidebar li a i {
  width: 16px;
}

/* 検索フォーム */

.modal.search-form {
  .modal-dialog {
    position: fixed;
    margin: auto;
    width: 320px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
  }

  .modal-content {
    height: 100%;
    overflow-y: auto;
  }

  .modal-body {
    padding: 15px 15px 80px;
  }

  &.fade {
    .modal-dialog {
      right: -320px;
      -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
      -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
      -o-transition: opacity 0.3s linear, right 0.3s ease-out;
      transition: opacity 0.3s linear, right 0.3s ease-out;
    }

    &.show .modal-dialog {
      right: 0;

      .modal-content {
        border-radius: 0;
        border: none;
      }
    }
  }
}

/* テーブルのthタグ内のテキストは折り返さない */

table.table th {
  white-space: nowrap;
}

/* 操作ボタン */

table.table td.actions div.btn-group {
  max-width: 34px;
  max-height: 34px;
}

/* 角丸をとる  */

.bootstrap-tagsinput {
  border-radius: 0 !important;
}

.theme-explorer-fas {
  .kv-fileinput-caption, .btn-file,
  .file-preview {
    border-radius: 0 !important;
    .table {
      table-layout: fixed !important;
    }
  }
  .explorer-caption {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .file-sortable .file-drag-handle {
    cursor: n-resize;
  }
}

/* エラーメッセージ修飾 */

.error-message {
  &:before {
    content: '※';
  }

  font-size: 90%;
  color: red;
}

/* ヘッダーリンク */

.navbar-nav .header-link {
  border-right: 1px solid #eee;

  &:last-of-type {
    border-right: none;
  }

  a {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

/* 日付選択プラグイン(tempusdominus-bootstrap-4)の土日に色を付ける */

.datepicker-days {
  th.dow:first-child, td:first-child {
    color: #f00;
  }

  th.dow:last-child, td:last-child {
    color: #00f;
  }
}

/* ログインボックスの幅調整 */

.login-box, .register-box {
  width: 400px;
}

/* アカウント管理のパスワードを表示のラベル */

#password-toggle-label {
  font-weight: inherit;

  &:hover {
    text-decoration: underline;
  }
}

/* 項目のラベルと必須アイコン */

label.item-label {
  display:block;
  white-space: nowrap;

  span.require-icon {
    position: relative;
    top: -2px;
  }
}

/* 検索一覧画面 */
.index-dropdown-toggle {
  padding-left: 0.65rem !important;
  padding-right: 0.65rem !important;
}

/* チェックボックスのデザイン */
.adm-checkbox + .form-check-label {
  padding: 0 !important;
}
.adm-checkbox {
  display:none;
}
.adm-checkbox + label:before {
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  content: '\f14a';
  color: #ccc;
  letter-spacing: 5px;
  font-size: 1.4rem;
  position: relative;
  display: inline-block;
  cursor: pointer;
  position: relative;
  top: 2px;
}
.adm-checkbox + label {
  vertical-align: middle;
}
.adm-checkbox:checked + label:before {
  color: $primary;
}

/* fileinput の入力項目サイズ別のデザイン */
.theme-explorer-fas {
  .file-preview.file-preview-sm {
    tr.explorer-frame {
      .kv-file-content {
        width: 68px;
        height: 68px;
        padding: 3px 3px 0 3px;
        .file-other-icon {
          font-size: 2.4em;
        }
      }
      .file-details-cell {
        font-size: .9rem;
      }
    }
  }
  .file-preview.file-preview-lg {
    tr.explorer-frame {
      .kv-file-content {
        width: 92px;
        height: 92px;
        .file-other-icon {
          font-size: 2.8em;
        }
      }
      .file-details-cell {
        font-size: 1.2rem;
      }
    }
  }
}